
:root {
  --primary-color: #d9f2b4;
  --secondary-color: #bcf4f5;
  --standby-color: #ffb7c3;
} 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {


    background-color: var(--primary-color)
}