
:root {
  --primary-color: #d9f2b4;
  --secondary-color: #bcf4f5;
  --standby-color: #4509fa;
} 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {


    background-color: var(--primary-color)
}

/* .logo {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
} */



footer p {
  margin-bottom: 0;
}