
:root {
  --primary-color: #d9f2b4;
  --secondary-color: #bcf4f5;
  --standby-color: #4509fa;
} 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {


    background-color: var(--primary-color)
}

/* .logo {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
} */



footer p {
  margin-bottom: 0;
}

/* Calculator Container */
.calculate-container {
  margin: 5em auto 8em;
}
.calculate-header {
  margin-top: 5em;
}
.question {
  display: none; /* Hide all questions initially */
}
.question.active {
  display: block; /* Show the active question */
}
.calculate-container .form-check {
  margin: 1rem 0;
  padding-left: 0;
}
